@page "/AddingAdults"
@attribute [Authorize(Policy = "MustBeLoggedIn")]
@using Models
@using global::Models
@using Client.Data.AdultsData
@inject NavigationManager NavigationManager
@inject IAdults IAdults


<h3>Add an Adults</h3>

<EditForm Model="@newAdult" OnValidSubmit="@AddAdult">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="form-group">First Name:<br/>
        <InputTextArea rows="2" @bind-Value="newAdult.FirstName"/></div>
    <div class="form-group">Last Name:<br/>
        <InputTextArea rows="2" @bind-Value="newAdult.LastName"/></div>
    <div class="form-group">Hair color:<br/>
        <InputTextArea rows="2" @bind-Value="newAdult.HairColor"/></div>
    <div class="form-group">Eye color:<br/>
        <InputTextArea rows="2" @bind-Value="newAdult.EyeColor"/></div>
    <div class="form-group">Age:<br/>
        <InputNumber @bind-Value="newAdult.Age"/> >
    </div><div class="form-group">Weight:<br/>
        <InputNumber @bind-Value="newAdult.Weight"/> >
    </div><div class="form-group">Height:<br/>
        <InputNumber @bind-Value="newAdult.Height"/> ></div>
    <div class="form-group">Sex:<br/>
        <InputTextArea rows="4" @bind-Value="newAdult.Sex"/></div>
    <p class="actions">
    
        <button class="btn btn-outline-dark" type="Add">Add</button>
    </p>
</EditForm>

@code {
    private Adult newAdult = new Adult();

    private void AddAdult()
    {
        IAdults.AddAdult(newAdult);
        NavigationManager.NavigateTo("/ViewAdults");
    }
}